@import "@/placeholders";
@import "@/variables";

.inventory {
  @extend %box_duo;
  flex-wrap: wrap;
}

.item {
  @extend %box_duo;
  margin: 12px;
}

.common {
  border: 2px solid blue;
}

.rare {
  border: 2px solid rgb(230, 55, 113);
}

.epic {
  border: 2px solid orange;
}

.card {
  border: 2px solid #333;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 200px;
  display: flex;
  flex-direction: column;
}

.cardHeader {
  background-color: #333;
  color: white;
  border-radius: 10px 10px 0 0;
  padding: 5px;
}

.cardImage {
  flex: 1;
  background-color: #eee;
  margin: 10px;
  /* Optionally, you can set background-image property here */
}

.cardBody {
  text-align: left;
}

.resources,
.powers {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.fire {
  color: red;
}

.water {
  color: blue;
}

.earth {
  color: green;
}
