@import "@/variables.scss";
@import "@/placeholders.scss";

$border-color: #ccc;
$bg-color: #fff;
$primary-color: #000;
$secondary-color: #444;

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 1rem;
}

.selectWrapper {
  margin-bottom: 2rem;
  select {
    background-color: $bg-color;
    border: 1px solid $border-color;
    border-radius: 0.25rem;
    color: $primary-color;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5rem;
    width: 100%;
    &:focus {
      outline: none;
      box-shadow: 0 0 0 3px rgba($primary-color, 0.3);
    }
  }
}

.contentWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  .exerciseList,
  .frequencyList {
    max-height: 300px;
    flex: 0 0 calc(50% - 1rem);
    background-color: $bg-color;
    border: 1px solid $border-color;
    border-radius: 0.25rem;
    overflow-y: scroll;
    padding: 1rem;
    .exerciseName,
    .frequencyValue {
      color: $primary-color;
      font-size: 1.5rem;
      font-weight: bold;
      margin: 0;
      text-align: center;
      text-transform: uppercase;
    }
    .exercise {
      // border-bottom: 1px solid $border-color;
      padding: 1rem 0;
      &:last-child {
        border-bottom: none;
      }
    }
    .frequency {
      padding: 0.5rem 0;
      &:not(:last-child) {
        // border-bottom: 1px solid $border-color;
      }
    }
  }
}

.playRandomButton {
  background-color: $primary-color;
  border: none;
  border-radius: 0.25rem;
  color: $bg-color;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5rem;
  width: 100%;
  &:hover {
    background-color: $secondary-color;
    cursor: pointer;
  }
}

.workoutWrapper {
  margin-top: 2rem;
  text-align: center;
  .workout {
    align-items: center;
    background-color: $bg-color;
    border: 1px solid $border-color;
    border-radius: 0.25rem;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 960px;
    padding: 1rem;
    width: 100%;
    .exerciseName {
      color: $primary-color;
      font-size: 2rem;
      font-weight: bold;
      margin: 0;
      text-transform: capitalize;
    }
    .plus {
      background-color: $primary-color;
      border-radius: 50%;
      color: $bg-color;
      font-size: 1.5rem;
      height: 3rem;
      width: 3rem;
      @extend %flex_center;
    }
    .frequencyValue {
      color: $primary-color;
      font-size: 2rem;
      font-weight: bold;
      margin: 0;
    }
  }
}
