@import "mixins";
@import "variables";

%title {
  font-size: 22px;
  font-weight: 700;
  color: white;
}
%subTitle {
  font-size: 18px;
  font-weight: 500;
  color: white;
}
%regularText {
  font-weight: 400;
  font-size: 16px;
  color: white;
}
%smallText {
  font-weight: 400;
  font-size: 12px;
  color: white;
}
%secondaryText {
  font-weight: 500;
  font-size: 14px;
  color: gray;
}

%box {
  // border: 1px solid rgba(0, 0, 0, 0.08);
  // box-shadow: $fasticShadow;
  border-radius: $border_radius;
  padding: 1rem;
  border: 1px solid $optimzeColor;
  background-color: white;
}

%box_duo {
  border: 2px solid $actionize_gray;
  padding: 0.5rem;
  display: flex;
  border-radius: $border_radius;
}

%box_dark {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: $border_radius;
  padding: 1rem;
  @include media_sm {
    padding: 0.75rem;
  }
}

%flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%flex_end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

%flex_start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

%flex_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

%flex_around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

%text--m {
  font-size: 1rem;
  font-weight: 700;
  line-height: 150%;
}

%text--s {
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 150%;
}

%btn_play {
  @extend %flex_center;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  cursor: pointer;
}

%header {
  @extend %flex_center;
  font-size: 22px;
  font-weight: 500;
  width: 100%;
}

//for player header if needs changes
// %header {
//   @extend %flex_between;
//   font-size: 20px;
//   font-weight: 500;
//   width: 100%;
// }
