@import "placeholders";
@import "variables";
@import "mixins";

%absoluteButton {
  @extend %flex_center;
  position: absolute;
  height: 2.5rem;
  width: 2.5rem;
  border: 2px solid $actionize_gray;
  position: fixed;
  background-color: black;
  z-index: 1000000;
  cursor: pointer;
  border-radius: 50%;
  @include hover-brightness(150%);
}

.backButton {
  @extend %absoluteButton;
  left: 1rem;
  top: 1rem;
  // @include media_sm {
  //   left: auto;
  //   right: 1rem;
  //   top: auto;
  //   bottom: 3.5rem;
  // }
}

.bookmarkButton {
  @extend %absoluteButton;
  right: 1rem;
  top: 1rem;
}
