@import "placeholders";
@import "variables";
@import "mixins";

.backButton {
  @extend %flex_center;
  position: absolute;
  height: 2.5rem;
  width: 2.5rem;
  border: 2px solid $actionize_gray;
  position: fixed;

  top: 1rem;
  left: 1rem;
  background-color: black;

  z-index: 1000000;
  cursor: pointer;
  border-radius: 50%;

  @include hover-brightness(150%);
}
