@import "variables";
@import "placeholders";

.cardContainer {
  margin: 0px auto;
  max-width: 100%;
  width: 100%;
}

.benefits {
  @extend %flex_start;
  width: 100%;
  height: 100%;
  ul {
    padding: 0;
    margin: 0 1rem;
    p {
      margin: 0.5rem 0;
    }
  }
}

.mastery {
  @extend %flex_between;
  width: 100%;
  height: 100%;
}

.favorite {
  @extend %flex_center;
  height: 2.5rem;
  width: 2.5rem;
  z-index: 1000;
  cursor: pointer;
  border-radius: 50%;
}

.fixed {
  background-color: $actionize_black;
  // border-top: 2px solid $actionize_gray;
  // background: linear-gradient(rgba(0, 0, 0, 0) 0%, $actionize_black 70%);
  bottom: 0;
  width: 100%;
  height: 5rem;
  @extend %flex_center;
  left: 0px;
  position: fixed;
  z-index: 100000;
}

.image {
  z-index: 5;
  margin-bottom: 0.5rem;
  height: 225px;
}

.name {
  @extend %title;
  @extend %flex_center;
  align-items: center;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.realmLogo {
  @extend %flex_center;
  margin-right: 1rem;
}

.card {
  width: auto;
  background-color: $actionize_black;
  @extend %flex_center;
  flex-direction: column;
  position: relative;
  overflow-x: clip;
  padding: 1rem;
  // box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 8px 4px, black 0px 7px 13px -3px,
  //   black 0px -3px 0px inset;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: var(--background);
}

.curve {
  position: absolute;
  top: 50px;
  width: 100%;
}
.curve::before {
  content: "";
  display: block;
  position: absolute;
  height: 50px;
  width: 60%;
  border-radius: 100% 35%;
  background-color: $actionize_black;

  transform: translate(75%, 60%);
}
.curve::after {
  content: "";
  display: block;
  position: absolute;
  height: 50px;
  width: 60%;
  border-radius: 100% 35%;
  background-color: var(--background);

  transform: translate(-10%, 43%);
  // z-index: -1;
}

.section_name {
  @extend %flex_center;
  position: relative;
  width: 100%;
  margin-top: 1rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

.name {
  width: 100%;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.level {
  align-items: center;
  padding: 0 0.5rem;
  font-size: 18px;
  max-width: 4rem;
  @extend %box_duo;
}

.progress_box {
  min-width: 6rem;
  @extend %flex_center;
  flex-direction: column;
  flex-grow: 1;
  margin: 0 1rem;
  color: white;
  font-size: 14px;
  font-weight: 700;
}

.titleProgress {
  width: 100%;
  @extend %flex_between;
  justify-content: space-between;
  margin: 1rem 0;
  margin-bottom: 0.5rem;
  // flex-direction: row;
}

.description {
  margin-top: 2.5rem;
  width: 100%;
  font-size: 18px;
  margin-bottom: 1.5rem;
}

.action {
  margin-bottom: 1rem;
  position: relative;
  @extend %box_duo;
  padding: 0;
  @extend %flex_between;
  flex-direction: column;
  width: 100%;
  &_header {
    font-size: 20px;
    font-weight: 500;
  }
  &_tips {
    padding: 1rem;
  }
  &_instructions {
    padding: 1rem;
    border-bottom: 2px solid $actionize_gray;
  }
  &_votingBox {
    cursor: pointer;
    @extend %flex_center;
    flex-direction: column;
    height: 60px;
    width: 80px;
    border: 2px solid $actionize_gray;
    margin-right: 1rem;
    border-radius: $border_radius;
  }
  &_closed {
    @extend %flex_between;
    width: 100%;
    cursor: pointer;
    padding: 1rem;
  }
  &_open {
    border-top: 2px solid $actionize_gray;
    width: 100%;

    &_step {
      display: flex;
      flex-grow: 1;
      margin: 1rem 0;
    }
    &_stepLabel {
      background-color: $primary;
      padding: 0.2rem 0.5rem;
      border-radius: $border_radius;
      margin-right: 0.75rem;
      height: 100%;
      font-weight: 500;
      font-size: 12px;
      min-width: 3.5rem;
      @extend %flex_center;
    }
    &_complete {
      margin-top: 1rem;
      @extend %flex_center;
      font-weight: 500;
      font-size: 14px;
      @extend %box_duo;
      padding: 0.5rem;
      cursor: pointer;
    }
  }
  &_box {
    width: 100%;
  }
  &_header {
    @extend %flex_between;
  }
  &_grouper {
    @extend %flex_center;
    margin-top: 0.25rem;
  }
  &_type {
    background-color: $primary;
    font-weight: 500;
    font-size: 14px;
    border-radius: $border_radius;
    padding: 0.02rem 0.5rem;
    padding-bottom: 0.1rem;
    margin-right: 0.5rem;
  }
  &_duration {
    font-weight: 500;
    font-size: 14px;
  }
  &_name {
    font-size: 16px;
    font-weight: 500;
  }
  &_img {
    height: 60px;
    width: 80px;
    border: 2px solid $actionize_gray;
    margin-right: 1rem;
    border-radius: $border_radius;

    img {
      border-radius: $border_radius;
      width: 102%;
      height: 102%;
    }
  }
  &_checkmark {
    position: absolute;
    top: -5px;
    right: -5px;
    @extend %flex_center;
  }
  &_arrow {
    @extend %flex_center;
    margin-right: 1rem;
  }
  &_timer {
    padding: 1rem;
    border-top: 2px solid $actionize_gray;
  }
}

.tabCounter {
  margin-left: 0.5rem;
  @extend %flex_center;
  // background-color: $actionize_gray;
  background-color: $ux_red;
  border-radius: $border_radius;
  height: 1.5rem;
  width: 1.5rem;
}

.tabs {
  @extend %flex_between;
  width: 100%;
  margin: 0.5rem 0;
}
.tabsButton {
  width: 50%;
  cursor: pointer;
  @extend %flex_center;
  font-size: 14px;
  font-weight: 500;
  padding: 0.5rem 0;
  color: $actionize_gray_light;
  &.active {
    border-bottom: 3px solid white;
    color: white;
  }
}

.label {
  margin: 1rem 0;
  font-size: 20px;
  font-weight: 500;
}

.header {
  @extend %header;
  margin-bottom: 0.5rem;
}

.markdown {
  ol {
    padding-left: 1rem;
  }
}

.alertWarning {
  @extend %box_duo;
  @extend %flex_between;
  width: 100%;
  margin-top: 1rem;
}

.comingSoon {
  border-radius: $border_radius;
  padding: 0.25rem 1rem;
  background-color: rgb(40, 40, 40);
  font-weight: 500;
  font-size: 18px;
}

.completeCardSection {
  text-align: center;
}
