@import "variables";
@import "placeholders";

.link {
  position: relative;
}
.card {
  cursor: pointer;
  height: 300px;
  width: auto;
  min-width: 165px;
  max-width: 200px;
  // background-color: #1f1f1f;
  border-radius: $border_radius;
  @extend %flex_center;
  flex-direction: column;
  position: relative;
  // overflow-x: clip;

  // border: 2px solid var(--background);
  border: 3px solid $actionize_gray;
  background-color: $actionize_black;
  padding: 1rem;

  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 8px 4px, black 0px 7px 13px -3px,
    black 0px -3px 0px;
  &.notCollected {
    opacity: 80%;
  }
  // @include media_sm {
  //   min-height: 0;
  //   min-width: 0;
  // }
}

// .background {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 30px;
//   background-color: var(--background);
// }

// .curve {
//   position: absolute;
//   top: 50px;
//   width: 100%;
// }
// .curve::before {
//   content: "";
//   display: block;
//   position: absolute;
//   height: 50px;
//   width: 60%;
//   border-radius: 100% 35%;
//   background-color: #1f1f1f;

//   transform: translate(75%, 60%);
// }
// .curve::after {
//   content: "";
//   display: block;
//   position: absolute;
//   height: 50px;
//   width: 60%;
//   border-radius: 100% 35%;
//   background-color: var(--background);

//   transform: translate(-10%, 43%);
//   // z-index: -1;
// }

.isNew {
  position: absolute;
  top: -5px;
  position: absolute;
  @extend %flex_center;
  background-color: $tertiary;
  padding: 0.25rem 0.5rem;
  border-radius: $border_radius;
}

.image {
  z-index: 5;
  margin-bottom: 0.5rem;

  img {
    height: 125px;
  }
}

.card_body {
  @extend %flex_center;
  width: 70%;
  flex-direction: column;
  margin-top: 1rem;
}

.lock {
  background-color: $actionize_gray;
  padding: 0.5rem 0.75rem;
  border-radius: 50%;
  box-shadow: $cardShadow;
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  img {
    height: 1.25rem;
  }
}

.realmLogo {
  position: absolute;
  top: 0.65rem;
  left: 0.75rem;
  img {
    height: 1.25rem;
  }
}

.name {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 700;
  color: white;
  margin-bottom: 0.5rem;
  text-align: center;
}

.lockBox {
  position: absolute;
  bottom: 0;
  @extend %flex_center;
  padding: 0.5rem 1rem;

  flex-direction: column;
  background-color: rgb(87, 87, 87);
  font-size: 12px;
  width: 100%;
}

.level {
  position: absolute;
  top: -10px;
  right: 0;
  margin-top: 1rem;
  margin-right: 0.5rem;
  font-size: 20px;
  font-weight: 700;
  &_text {
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    margin-right: 0.25rem;
  }
}
.rarity_center {
  position: absolute;
  bottom: -15px;
  @extend %flex_center;
  margin-bottom: 0.5rem;
}

.rarity {
  position: absolute;
  bottom: 40%;
  img {
    height: 0.75rem;
  }
}

.progress_box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.progress_text {
  color: white;
  font-size: 8px;
  font-weight: 700;
  display: inline-block;
  margin-left: 0.5rem;
  width: 1rem;
  display: flex;
  justify-content: flex-center;
}

.progressTextBox {
  @extend %flex_center;
}

.progressIcon {
  margin-right: 0.5rem;
}

.type {
  text-transform: capitalize;
  width: 4rem;
  @extend %flex_center;
  color: white;
  font-size: 12px;
  font-weight: 500;
  border-radius: $border_radius;
  padding: 0.12rem 0.6rem;

  &.open {
    // background-color: $primary;
    background-color: $normalGreen;
    // box-shadow: 0px 4px 0px -0.5px darken($primary, 30%);
  }

  &.free {
    // background-color: $primary;
    background-color: $primary;
    // box-shadow: 0px 4px 0px -0.5px darken($primary, 30%);
  }

  &.premium {
    background-color: $tertiary;
    // box-shadow: 0px 4px 0px -0.5px darken($tertiary, 30%);
  }

  &.special {
    background-color: $secondary;
    // box-shadow: 0px 4px 0px -0.5px darken($secondary, 30%);
  }
}
