@import "variables";
@import "placeholders";

.backButton {
  @extend %flex_center;
  position: absolute;
  height: 2.5rem;
  width: 2.5rem;

  top: 1rem;
  left: 0.5rem;
  background-color: black;

  z-index: 1000000;
  cursor: pointer;
  border-radius: 50%;
  &:hover {
    background-color: $optimzeColor;
  }
}

.fixed {
  position: fixed;
  background-color: $actionize_black;
  border-top: 2px solid $actionize_gray;
  // background: linear-gradient(rgba(0, 0, 0, 0) 0%, $actionize_black 70%);

  bottom: 0;
  width: 100%;
  height: 5rem;
  @extend %flex_center;
  left: 0px;
  position: fixed;
  z-index: 10;
}

.image {
  z-index: 5;
  margin-bottom: 0.5rem;
  height: 250px;
}

.name {
  @extend %flex_center;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  color: white;
  margin-bottom: 0.5rem;
}

.realmLogo {
  @extend %flex_center;
  margin-right: 1rem;
}

.card {
  width: auto;
  background-color: $actionize_black;
  border-radius: 10px;
  @extend %flex_center;
  flex-direction: column;
  position: relative;
  overflow-x: clip;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 8px 4px, black 0px 7px 13px -3px,
    black 0px -3px 0px inset;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: var(--background);
}

.curve {
  position: absolute;
  top: 50px;
  width: 100%;
}
.curve::before {
  content: "";
  display: block;
  position: absolute;
  height: 50px;
  width: 60%;
  border-radius: 100% 35%;
  background-color: $actionize_black;

  transform: translate(75%, 60%);
}
.curve::after {
  content: "";
  display: block;
  position: absolute;
  height: 50px;
  width: 60%;
  border-radius: 100% 35%;
  background-color: var(--background);

  transform: translate(-10%, 43%);
  // z-index: -1;
}

.section_name {
  @extend %flex_center;
  position: relative;
  width: 100%;
  padding: 0.5rem 0;
}
.favorite {
  position: absolute;
  right: 1rem;
  color: white;
}

.section_level {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0.5rem 0;
}
.level {
  padding: 0 0.5rem;
  // background-color: $actionize_gray;
  // color: white;
  font-size: 20px;
  // font-weight: 700;
  // border-radius: 10px;
  width: 5rem;
  @extend %box_duo;
}

.progress_box {
  @extend %flex_center;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 2rem;
  color: white;
  font-size: 14px;
  font-weight: 700;
}

.section_levels {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  margin: 0.5rem 0;
  @extend %box_duo;
}
.level_box {
  @extend %flex_center;
  flex-direction: column;
  color: white;
  font-size: 12px;
}

.btn_play_active {
  border: 3px solid white;
}

.btn_play_passed {
  @extend %btn_play;
  background-color: $primary;
}
.btn_play_orange {
  @extend %btn_play;
  background-color: $secondary;
}
.btn_play_grayopen {
  @extend %btn_play;
  background-color: transparent;
  border: 2px solid $actionize_gray;
  cursor: not-allowed;
}
.btn_play_graylocked {
  @extend %btn_play;
  background-color: transparent;
  border: 3px solid $actionize_gray;
  cursor: not-allowed;
}

.titleProgress {
  padding-top: 1rem;
  width: 100%;
  @extend %flex_between;
  justify-content: space-between;
  // flex-direction: row;
}

.ideaPlayer {
  width: 100%;
  @extend %box_duo;
  align-items: center;
  justify-content: space-between;
  &_group {
    display: flex;
  }
}

.description {
  padding-top: 1rem;
}

.action {
  margin-bottom: 1rem;
  position: relative;
  @extend %box_duo;
  @extend %flex_between;
  flex-direction: column;
  width: 100%;
  &_closed {
    @extend %flex_between;
    width: 100%;
    cursor: pointer;
  }
  &_open {
    width: 100%;
    margin-top: 1rem;
    &_step {
      display: flex;
      flex-grow: 1;
      margin: 1rem 0;
    }
    &_stepLabel {
      background-color: $actionize_gray;
      padding: 0.2rem 0.5rem;
      border-radius: 10px;
      margin-right: 0.75rem;
      height: 100%;
      font-weight: 500;
      font-size: 12px;
      min-width: 3.5rem;
      @extend %flex_center;
    }
    &_complete {
      margin-top: 1rem;
      @extend %flex_center;
      font-weight: 500;
      font-size: 20px;
      @extend %box_duo;
      cursor: pointer;
    }
  }
  &_box {
    width: 100%;
  }
  &_header {
    @extend %flex_between;
  }
  &_grouper {
    @extend %flex_center;
    margin-top: 0.25rem;
  }
  &_type {
    background-color: $primary;
    font-weight: 500;
    font-size: 14px;
    border-radius: 10px;
    padding: 0.02rem 0.5rem;
    padding-bottom: 0.1rem;
    margin-right: 0.5rem;
  }
  &_duration {
    font-weight: 500;
    font-size: 14px;
  }
  &_name {
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 0.25rem;
  }
  &_img {
    height: 60px;
    width: 80px;
    border: 3px solid $actionize_gray;
    margin-right: 1rem;
    border-radius: 10px;
  }
  &_checkmark {
    position: absolute;
    top: -5px;
    right: -5px;
    @extend %flex_center;
  }
  &_arrow {
    @extend %flex_center;
    margin-right: 1rem;
  }
}

.tabs {
  // @extend %box_duo;
  margin: 1rem 0;
  width: 100%;
  @extend %flex_around;
  font-weight: 500;
  font-size: 16px;
}
.tab {
  padding: 0.5rem 0;
  border-bottom: 4px solid $actionize_gray;
}

.createActionModal {
  border: 3px solid green;
}
