@import "variables";
@import "placeholders";
@import "mixins";

.comingSoon {
  border-radius: $border_radius;
  padding: 0.25rem 0.5rem;
  font-weight: 500;
  font-size: 10px;
}

.link {
  position: relative;
}
.card {
  height: 200px;
  cursor: pointer;
  width: auto;
  min-width: 165px;
  max-width: 200px;
  border-radius: $border_radius;
  @extend %flex_center;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
  // overflow-x: clip;
  // border: 2px solid var(--background);
  border: 2px solid $actionize_gray;
  background-color: $actionize_black;
  padding: 1rem;

  // box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 8px 4px, black 0px 7px 13px -3px,
  //   black 0px -3px 0px;
  &.notCollected {
    opacity: 80%;
  }
  @include hover-brightness(125%);
}

.image {
  z-index: 5;
  margin-bottom: 0.5rem;

  img {
    height: 120px;
  }
}

.card_body {
  @extend %flex_center;
  width: 70%;
  flex-direction: column;
}

.realmLogo {
  position: absolute;
  top: 0.65rem;
  left: 0.75rem;
  img {
    height: 1.25rem;
  }
}

.name {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 700;
  color: white;
  margin: 0.25rem 0;
  text-align: center;
}

.openBox {
  position: absolute;
  bottom: 0;
  @extend %flex_center;
  padding: 0.5rem 1rem;
  border-radius: 60%/ 80px 80px 0 0;
  border-bottom-left-radius: $border_radius - 5px;
  border-bottom-right-radius: $border_radius - 5px;
  flex-direction: column;
  font-size: 12px;
  width: 100%;
}

.lockBox {
  position: absolute;
  bottom: 0;
  @extend %flex_center;
  padding-top: 0.5rem;
  padding-bottom: 0.25rem;
  border-radius: 60%/ 80px 80px 0 0;
  border-bottom-left-radius: $border_radius - 5px;
  border-bottom-right-radius: $border_radius - 5px;
  flex-direction: column;
  background-color: $actionize_gray;
  font-size: 12px;
  width: 100%;
  z-index: 100;
}

.costBox {
  background-color: $actionize_black;
  padding: 0.25rem 0.5rem;
  border-radius: $border_radius;
  @extend %flex_between;
  align-items: center;
}

.rarity {
  position: absolute;
  top: 10px;
  right: 10px;
  img {
    height: 0.75rem;
  }
}
.rarity_center {
  position: absolute;
  bottom: -15px;
  @extend %flex_center;
  margin-bottom: 0.5rem;
}

.progress_box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.progress_text {
  color: white;
  font-size: 8px;
  font-weight: 700;
  display: inline-block;
  margin-left: 0.5rem;
  width: 1rem;
  display: flex;
  justify-content: flex-center;
}

.progressTextBox {
  @extend %flex_center;
}

.progressIcon {
  margin-right: 0.5rem;
}
