@import "mixins";
@import "variables";
@import "placeholders";
.name {
  @extend %title;
  margin-bottom: 0.5rem;
}

.shortRating {
  font-weight: 700;
  font-size: 14px;
  @extend %flex_start;
}
.ratingNumber {
  font-size: 12px;
  margin-bottom: 0.5rem;
}
.smallText {
  font-size: 12px;
  margin: 0.25rem 0;
}
.price {
  font-size: 24px;
  font-weight: 500;
  @extend %flex_start;
  margin-top: 1rem;
}

.fullPrice {
  font-size: 16px;
  font-weight: 500;
  color: gray;
  text-decoration: line-through;
  margin-left: 0.5rem;
}
.discount {
  color: rgb(255, 132, 116);
  font-size: 12px;
  margin-bottom: 1rem;
  font-weight: 500;
}

.moneyback {
  font-size: 12px;
  margin: 0.25rem 0;
  font-weight: 500;
  @extend %flex_center;
  color: gray;
}
.share {
  text-decoration: underline;
  font-weight: 500;
  padding-right: 1rem;
  margin: 0.5rem 0;
}

.salesPoints {
  margin: 1rem 0;
}

.salesName {
  font-weight: 700;
  font-size: 20px;
}
.salesText {
  ul {
    margin: 0;
    padding-left: 2rem;
  }
  li {
    margin: 0.25rem 0;
  }
  ol {
    padding-left: 1.75rem;
    margin: 0;
  }
}

.details {
  @extend %flex_start;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
  padding-left: 0.7rem;
}

.detailsItem {
  margin: 0.25rem 0;
  font-size: 16px;
}

.seeAll {
  @extend %box_duo;
  @extend %flex_center;
  font-weight: 500;
  font-size: 16px;
}

// CURRICULUM
.curriculum {
  width: 100%;
}
.day {
  width: 100%;
  @extend %box_duo;
  @extend %flex_start;
  flex-direction: column;
  margin: 0.5rem 0;
  padding: 0;
}

.dayAgain {
  @extend %flex_center;
  border-top: 2px solid $actionize_gray;
  width: 100%;
  padding: 0.5rem 0;
}

.dayHeader {
  @extend %flex_between;
  width: 100%;
  padding: 0.5rem;
  padding-right: 1rem;
}

.labelBox {
  flex-grow: 1;
  margin-left: 1rem;
}

.label {
  font-size: 20px;
  font-weight: 500;
}

.progress {
  font-weight: 500;
  font-size: 14px;
  color: gray;
}

.state {
  width: 45px;
  height: 45px;
  border-radius: $border_radius;
  @extend %flex_center;
}

.contents {
  width: 100%;
}

.contentStep {
  @extend %flex_between;
  width: 100%;
  padding: 0.25rem 0.5rem;
  &:first-child {
    border-top: 2px solid $actionize_gray;
  }
}

.contentState {
  position: relative;
  @extend %flex_center;

  width: 45px;
  height: 45px;
}

.contentTypeBackground {
  border-radius: 50%;
  background-color: $actionize_gray;
  @extend %flex_center;
  height: 30px;
  width: 30px;
}

.contentStateIcon {
  margin-right: 0.3rem;
}

.contentTitle {
  flex-grow: 1;
  font-weight: 500;
  font-size: 14px;
  margin-left: 0.2rem;
  @extend %flex_start;
}
.contentDuration {
  font-weight: 700;
  font-size: 14px;
  color: gray;
}

.line {
  position: absolute;
  left: 48%;
  background-color: $actionize_gray;
  width: 2px;
  height: 55px;
  z-index: 5;
}

// Content Next
.contentNext {
  @extend %flex_between;
  width: 100%;
  padding: 0.5rem 0;
  padding-left: 1rem;
  background-color: $actionize_gray;
}

.contentNextState {
  position: relative;
  @extend %flex_center;

  width: 45px;
  height: 45px;
}

.contentNextNameBox {
  @extend %flex_start;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  margin-left: 1rem;
}

.contentNextTitle {
  font-weight: 700;
  font-size: 18px;
}

.contentNextTypeBackground {
  border-radius: 50%;
  background-color: black;
  @extend %flex_center;
  height: 40px;
  width: 40px;
}

.continueButton {
  background-color: $secondary;
  padding: 0.25rem 1rem;
  font-size: 16px;
  font-weight: 500;
  border-radius: $border_radius;
  margin: 0 0.5rem;
}

.progressCircle {
  height: auto;
  width: 60px;
  margin-left: 1rem;
}

.nameProgress {
  @extend %flex_between;
  height: 100%;
  margin-bottom: 1rem;
}

.courseImage {
  position: relative;
  background-position: 25% 75%;
  width: 100%;
  height: 150px;
}

.fixed {
  position: fixed;
  background-color: $actionize_black;
  bottom: 0;
  width: 100%;
  height: 3rem;
  // @extend %flex_center;
  left: 0px;
  position: fixed;
  z-index: 10000;
}

.curveFancy {
  background-color: transparent;
  position: absolute;
  top: 5rem;
  z-index: 100;
  width: 100%;
}

.content {
  @extend %flex_center;
}

.contentBox {
  @extend %box_duo;
  margin: 1rem 0;
  padding: 1rem 1rem;
  border-radius: 20px;
  flex-grow: 1;
}
.contentCounter {
  @extend %flex_center;
  width: 20px;
  height: 20px;
  background-color: $primary;
  border-radius: 50%;
  margin-right: 1rem;
  position: relative;
  font-weight: 500;
  font-size: 12px;
  &.completed {
    background-color: black;
  }
}
.contentLeftBox {
  flex-grow: 1;
}

.contentDottedBorder {
  position: absolute;
  height: 130px;
  border-left: 4px dotted gray;
  top: 28px;
}

.contentTitle {
  font-size: 18px;
  font-weight: 500;
  max-width: 224px;
  margin-right: 1rem;
}

.contentTag {
  background-color: $primary;
  font-weight: 500;
  font-size: 12px;
  border-radius: $border_radius;
  padding: 0.2rem 0.5rem;
  width: fit-content;
  text-transform: uppercase;
  margin-bottom: 1rem;
  margin-right: 1rem;
  &.action {
    background-color: $ux_red;
  }
  &.completed {
    background-color: $ux_green;
  }
}

.contentFooter {
  @extend %flex_start;
  margin-top: 1rem;
}

.contentStat {
  @extend %flex_center;
  margin-right: 1rem;
}

.btnPlay {
  @extend %flex_center;
  background-color: $primary;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.btnPlayDisabled {
  @extend %flex_center;
  background-color: gray;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.contentStatAmount {
  font-size: 14px;
  font-weight: 500;
  margin-right: 0.5rem;
}
