@import "mixins";
@import "variables";
@import "placeholders";

.expandable {
  // margin: 2rem 0;
  flex-direction: column;

  padding-top: 1rem;
}

.header {
  @extend %header;
  margin-bottom: 1rem;
}

.name {
  flex-grow: 1;
  margin-left: 1rem;
  font-size: 18px;
}

.image {
  @extend %flex_center;
  img {
    height: 30px;
  }
}
