@import "variables";
@import "placeholders";
.realm {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 112px;
  margin-bottom: 24px;
  // background-color: $actionize_gray;
  border: 2px solid $actionize_gray;
  color: white;
  // border: 1px solid $optimzeColor;
  border-radius: $border_radius;
  cursor: pointer;
}

.realm_body {
  width: 100%;

  padding: 12px;
  padding-right: 0;
  @extend %flex_start;
  flex-direction: column;
  align-items: flex-start;
}

.realm_name {
  font-size: 24px;
  font-weight: 500;
  color: white;
}

.realm_description {
  font-size: 14px;

  color: rgb(214, 214, 214);
}

.realm_image {
  width: 112px;
  height: 112px;
  @extend %flex_center;
  img {
    height: 65px;
  }
}
.realm_progressBox {
  @extend %flex_start;
}

.progress {
  margin-top: 4px;
  font-size: 12px;
}

.progressIcon {
  margin-top: 0.25rem;
  margin-right: 0.25rem;
}

.header {
  @extend %header;
  padding: 0.5rem;
}
