@import "variables";
@import "placeholders";

.shareBuddyModal {
  @extend %flex_center;
  flex-direction: column;
  &_title {
    @extend %header;
  }

  &_reward {
    border: 2px solid $actionize_gray_light;
    border-radius: $border_radius;
    padding: 0.5rem;
    margin-top: 1rem;
  }
}

.ctaLink {
  cursor: pointer;
  @extend %flex_center;
  flex-direction: row;
  margin: 2rem 0;

  width: 100%;
  input {
    background-color: $actionize_gray;
    border-radius: $border_radius;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 1rem 0.25rem;
    height: 44px;
    font-size: 12px;
    color: white;
    flex-grow: 1;
  }
  &_copy {
    height: 44px;
    background-color: $primary;
    border-radius: $border_radius;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    @extend %flex_center;
    padding: 0.5rem 1rem;

    &.green {
      background-color: $ux_green;
    }
  }
}

.perkBox {
  @extend %flex_start;
  align-items: flex-start;
  flex-direction: column;
}
.perk {
  @extend %flex_start;
  padding: 1rem 0;
  align-items: flex-start;
  &_iterate {
    @extend %flex_center;
    background-color: $primary;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    font-size: 20px;
    font-weight: 500;
    margin-right: 0.75rem;
  }
  &_content {
    @extend %flex_center;
    align-items: center;
    height: 30px;
  }
}
