@import "variables";
@import "placeholders";

.problem {
  // border-radius: $border_radius;
  @extend %flex_between;
  margin: 0.5rem 0;
  cursor: pointer;
  &:hover {
    background-color: $actionize_gray;
  }
  // @extend %box_duo;

  margin: 0;
  padding: 1rem;
  &.isInside {
    text-align: center;
    font-size: 20px;
    padding: 0 3rem;
    margin-bottom: 1rem;
  }
}

.id {
  background-color: $primary;
  font-size: 18px;
  padding: 0.5rem;
  border-radius: $border_radius;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-weight: 700;
}

.name {
  flex-grow: 1;
  // padding-left: 0.5rem;
  font-weight: 500;
  text-transform: capitalize;
}

.tag {
  @extend %flex_center;
  font-size: 12px;
  padding: 0.25rem 0.5rem;
  border-radius: $border_radius;
  margin-right: 1rem;
  background-color: $actionize_black;
}

.iconRight {
  @extend %flex_center;
  // margin-right: 1rem;
}

.filters {
  @extend %flex_between;
  margin-bottom: 1rem;
}

.searchInput {
  background-color: $actionize_black;
  padding: 0.5rem 1rem;
  border-radius: $border_radius;
  font-size: 18px;
  font-weight: 500;
  width: 9rem;
  width: 100%;
  margin-right: 1rem;
  @extend %flex_center;
  border: 2px solid $actionize_gray;
  color: white;
  &:focus {
    outline: none;
    border: 2px solid gray;
  }
  &::placeholder {
    color: $actionize_gray_light;
  }
}

.dropDown {
  cursor: pointer;
  position: relative;

  @extend %box_duo;
  font-size: 18px;
  font-weight: 500;
  width: 9rem;
  @extend %flex_center;
  &:hover {
    background-color: $actionize_gray;
  }
  &_item {
    cursor: pointer;
    @extend %flex_start;
    padding: 0.7rem 0.5rem;
    padding-left: 0.75rem;
    border-bottom: 2px solid $actionize_gray;

    &:hover {
      background-color: $actionize_gray;
    }
  }

  &_items {
    width: 144px;
    z-index: 25;
    background-color: $actionize_black;
    position: absolute;
    border-right: 2px solid $actionize_gray;
    border-left: 2px solid $actionize_gray;
    border-top: 2px solid $actionize_gray;
    border-bottom: none;
    margin-top: 0.25rem;
    // box-shadow: rgba(255, 255, 255, 0.1) 0px 4px 12px;
  }
}

.problemV2 {
  @extend %box_duo;
  width: 100%;
  margin: 1rem 0;
  &_footer {
    @extend %flex_start;
    width: 100%;
    margin-top: 0.5rem;
  }
  &_name {
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
  }
  &_cardsCount {
    margin-top: 0.25rem;
    padding: 0.25rem 0.5rem;
    background-color: $actionize-gray;
    font-size: 12px;
    border-radius: $border_radius;
    width: fit-content;
    @extend %flex_center;
    margin-right: 0.25rem;
  }
}
