@import "placeholders";
@import "variables";

.profileHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;
  border: solid 1px transparent;
  border-radius: 50%/ 0 0 100px 100px;
  margin-top: 0.5rem;
  // background-color: $primary;
}
.avatarBox {
  @extend %flex_center;
  flex-direction: column;
  flex-grow: 1;
}
.avatar {
  border-radius: 50%;
  background-color: cornsilk;
  @extend %flex_center;
  height: 3.9rem;
  width: 3.9rem;
  overflow: hidden;
  position: relative;
}

.xp {
  margin-top: 0.25rem;
  font-size: 12px;
  font-weight: 500;
}
.username {
  margin: 0.5rem 0;
  text-transform: capitalize;
  @extend %title;
}

.level {
  position: absolute;
  top: -0.9rem;
  right: -1rem;
  border-radius: 50%;
  background-color: $actionize_gray;
  border: 1px solid $primary;
  background-color: white;
  @extend %flex_center;
  height: 2rem;
  width: 2rem;
  font-size: 16px;
  font-weight: 500;
  z-index: 1000000;
}
.level_progress {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.escape {
  cursor: pointer;
}

.settings {
  cursor: pointer;
}

.tabs {
  @extend %flex_between;
  width: 100%;
  // margin: 1rem 0;
  border-bottom: 2px solid $actionize_gray;
  top: 3rem;
  z-index: 200;
  background-color: $actionize_black;
}
.tabsButton {
  text-transform: capitalize;
  width: 33.3%;
  cursor: pointer;
  @extend %flex_center;
  font-size: 14px;
  font-weight: 500;
  padding: 0.5rem 0;
  color: $actionize_gray_light;
  &.active {
    border-bottom: 3px solid white;
    color: white;
  }
}
.tabCounter {
  margin-left: 0.5rem;
  @extend %flex_center;
  background-color: $actionize_gray;
  border-radius: $border_radius;
  height: 1.5rem;
  width: 1.5rem;
}

.stats {
  @extend %flex_center;
  flex-wrap: wrap;
}
.statsBox {
  width: 45%;
  @extend %flex_start;
  padding: 0.5rem;
  margin: 0.5rem;
  font-weight: 500;
  border-radius: $border_radius;
  border: 2px solid $actionize_gray;
  font-size: 14px;
  &_img {
    @extend %flex_center;
    margin: 0 0.35rem;
    img {
      height: 22px;
    }
  }
  &_number {
    margin-right: 0.35rem;
    font-size: 16px;
  }
}

.buddyBox {
  cursor: pointer;
  position: relative;
  @extend %flex_between;
  justify-content: flex-start;
  padding: 0.75rem 0;
  &_name {
    margin-left: 1rem;
    margin-right: 0.5rem;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
  }
  &_level {
    font-size: 16px;
  }
}
.buddyAvatar {
  border-radius: 50%;
  background-color: cornsilk;
  @extend %flex_center;
  height: 2.5rem;
  width: 2.5rem;
  overflow: hidden;
  img {
    height: 36px;
  }
}
.arrowRight {
  position: absolute;
  right: 0;
  display: flex;
  align-items: centers;
}

.header {
  @extend %header;
  padding: 0.5rem;
}

.artifactsWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
  gap: 1rem;
}

.artifact {
  @extend %box_duo;
  @extend %flex_center;
  flex-direction: column;
  min-height: 100px;
  img {
    height: 50px;
  }
  &_name {
    text-transform: capitalize;
    @extend %flex_center;
  }
}

.artifactDetails {
  @extend %flex_center;
  color: white;
  flex-direction: column;
  &_name {
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 500;
  }
  &_rarity {
    font-size: 20px;
    font-weight: 500;
    color: $primary;
  }
  &_obtainedBy {
    font-size: 16px;
    padding: 1rem 0;
  }
  img {
    height: 100px;
  }
}

.avatarModal {
  color: white;
  @extend %flex_center;
  flex-direction: column;
}
.avatarWrapper {
  @extend %flex_center;
  flex-wrap: wrap;
  margin-top: 1rem;
}
.avatar {
  padding: 0.5rem;
  margin: 0.25rem;
  @extend %flex_center;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  border: 2px solid $actionize_black;
  background-color: $actionize_gray_light;
  &.active {
    border: 3px solid $secondary;
    box-shadow: $readyToCollect;
  }
}
