@import "variables";

.empty {
  margin-top: 0.2rem;
  // background-color: $actionize_black;
  background-color: black;
  position: relative;
  border-radius: 0.5rem;
  width: 100%;
  // height: 0.75rem;
  height: 0.5rem;
}
.filled {
  content: "";
  background-color: $primary;
  position: absolute;
  width: calc(var(--progress, 0) * 1%);
  max-width: 100%;
  border-radius: 0.5rem;
  // height: 0.75rem;
  height: 0.5rem;
  &.action {
    background-color: $secondary;
  }
}

.progressNumber {
  margin-top: 4px;
}
