@import "placeholders";
@import "variables";

.rarity {
  @extend %flex_center;
  flex-direction: row;
  text-transform: capitalize;
  padding: 0.2rem 0.5rem;
  padding-top: 0.1rem;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 500;
  width: fit-content;
  width: 75px;
  &_image {
    @extend %flex_center;
  }
  img {
    height: 12px;
    margin-right: 5px;
  }
  &.common {
    background-color: gray;
    border: 2px solid darken($color: gray, $amount: 20);
  }
  &.rare {
    border: 2px solid darken($color: $blue_headspace, $amount: 20);
    background-color: $blue_headspace;
  }
  &.epic {
    border: 2px solid darken($color: #b62ac5, $amount: 20);
    background-color: #b62ac5;
  }
  &.legendary {
    border: 2px solid darken($color: $wowLegendary, $amount: 20);
    background-color: $wowLegendary;
  }
  // leagues
  &.bronze {
    background-color: #cb8c47;
    border: 2px solid darken($color: #cb8c47, $amount: 20);
  }
  &.silver {
    border: 2px solid darken($color: #b9b9b9, $amount: 20);
    background-color: #b9b9b9;
  }
  &.gold {
    border: 2px solid darken($color: #f9dc5c, $amount: 20);
    background-color: #f9dc5c;
  }
  &.platinum {
    border: 2px solid darken($color: #a5ccb2, $amount: 20);
    background-color: #a5ccb2;
  }
  &.diamond {
    border: 2px solid darken($color: #f3c4fb, $amount: 20);
    background-color: #f3c4fb;
  }
  &.grandmaster {
    border: 2px solid darken($color: #fc6dab, $amount: 20);
    background-color: #fc6dab;
  }
}
