@import "variables";
@import "placeholders";

.ctaBox {
  @extend %flex_center;
}

.rewardsModal {
  @extend %flex_center;
  color: white;
  flex-direction: column;
  background-color: $actionize_black;
  // margin-top: 1rem;
}

.rewardsBox {
  @extend %flex_center;
  flex-direction: column;
  width: 70%;
  height: 70%;
}

.xp {
  font-weight: 700;
  font-size: 22px;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  color: #de93b9;
}

.xp_progress {
  margin-top: 0.5rem;
  font-size: 14px;
  font-weight: 700;
  color: $actionize_gray_light;
  margin-bottom: 1.5rem;
}

.level_progress {
  margin-bottom: 2rem;
  font-size: 28px;
  font-weight: bold;
}

.levelUp {
  color: $secondary;
  margin-top: 1rem;
  font-size: 24px;
}

.cardRewardBox {
  @extend %flex_center;
  flex-direction: column;
}

.newCardLabel {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 1rem;
  @extend %flex_center;
}

.stars {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 22px;
  color: #80ec98;
}

.nextCounter {
  position: absolute;
  right: 10px;
  margin-left: 0.5rem;
  @extend %flex_center;
  color: white;
  // background-color: $actionize_gray;
  background-color: $ux_red;
  border-radius: $border_radius;
  height: 1.5rem;
  width: 1.5rem;
}

.newContent {
  position: relative;
  @extend %box_duo;
  @extend %flex_between;
  flex-direction: column;
  min-height: 100px;
  min-width: 250px;
  margin-bottom: 2rem;
  align-items: flex-start;
}

.lottiePosition {
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
}
