@import "variables.scss";
@import "placeholders.scss";
.settingsItem {
  padding: 1rem;
  border-bottom: 2px solid $actionize_gray;
  font-weight: 500;
}

.footer {
  height: 100%;
  padding: 1rem;
  @extend %flex_between;
  flex-direction: column;
  @extend %secondaryText;
}
// DUPLICATE REALM
.header {
  @extend %title;
  @extend %flex_between;
  padding: 1rem;
  position: relative;
}

.back {
  @extend %flex_center;
}

.title {
  flex-grow: 1;
  @extend %flex_center;
}
