@import "variables.scss";
@import "placeholders.scss";
@import "mixins.scss";

.settingsItem {
  cursor: pointer;
  padding: 1rem;
  border-bottom: 2px solid $actionize_gray;
  font-weight: 500;
  &:hover {
    background-color: $actionize_gray_light;
  }
}

.footer {
  height: 100%;
  padding: 1rem;
  @extend %flex_between;
  flex-direction: column;
  @extend %secondaryText;
}

.header {
  @extend %header;
  padding: 1rem;
  position: relative;
}

.title {
  flex-grow: 1;
  @extend %flex_center;
}

.accountLabel {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.accountValue {
  font-weight: 500;
  color: $actionize_gray_light;
  text-transform: capitalize;
}
.actionLabel {
  @include hover-brightness(150%);
  cursor: pointer;
  color: $eggHeadOrange;
}

.flagItem {
  @extend %flex_between;
  padding: 1rem 0;

  font-weight: 500;
}
