@import "placeholders";
@import "variables";

.subscription {
  @extend %box_duo;
  @extend %flex_center;
  width: 100%;
  justify-content: flex-start;
  flex-direction: column;
  &_body {
    @extend %flex_center;
    flex-direction: column;
  }
  &_name {
    @extend %header;
  }
  &_reward {
    // width: 100%;
    padding: 0.5rem;
    @extend %flex_between;
    justify-content: flex-start;
  }

  &_monthly {
    padding-top: 0.5rem;
    color: $actionize_gray_light;
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 0.5rem;
  }
}

.subscriptionContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.boxes {
  display: grid;
  gap: 2rem 1rem;
  grid-template-columns: repeat(2, minmax(150px, 2fr));
  grid-template-rows: repeat(2, minmax(150px, 2fr));
}

.box {
  position: relative;
  width: 100%;
  @extend %flex_center;
  @extend %box_duo;
  justify-content: space-between;
  cursor: pointer;
  border-bottom: none;

  border-radius: $border_radius;
  flex-direction: column;
  padding: 0;
  color: white;
  height: 200px;

  &_name {
    text-align: center;
    font-weight: 500;
    padding-top: 0.5rem;
  }
  &_image {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &_quantity {
    @extend %flex_center;
    position: absolute;
    background-color: $actionize_gray;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    top: -5px;
    right: -5px;
    // MAKE IT AS PLACEHOLDER
    &_red {
      background-color: $ux_red;
      @extend %flex_center;
      position: absolute;
      border-radius: 50%;
      height: 25px;
      width: 25px;
      top: -5px;
      right: -5px;
    }
  }
  &_expansion {
    @extend %flex_center;
    position: absolute;
    // background-color: $eggHeadRed;
    // border: 3px solid $eggHeadRed;
    border-radius: $border_radius;
    padding: 0.25rem 0.5rem;
    top: -5px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &_cta {
    border-radius: $border_radius;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    font-weight: 700;
    padding: 0.5rem;
    background-color: $primary;

    // background-color: #f69b5a;
    // background-color: $secondary;
    // background-color: $ux_green;
    font-size: 18px;
    // color: $actionize_black;
    width: 102%;
    @extend %flex_center;
    position: absolute;
    bottom: 0;
  }
  &_cta > *:first-child {
    margin-right: 0.25rem;
  }
  &_type {
    position: absolute;
    top: -10px;
    left: -10px;
  }
  &_name {
    @extend %regularText;
  }
  &_gemsAmount {
    @extend %subTitle;
    margin-top: 0.5rem;
  }
}

.header {
  @extend %header;
  font-size: 22px;
  margin-bottom: 1.25rem;
}

// BOX MODAL

.boxModal {
  @extend %flex_center;
  color: white;
  flex-direction: column;
  background-color: $actionize_black;
  &_name {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 1rem;
  }
  &_label {
    color: $actionize_gray_light;
    font-size: 20px;
    font-weight: 500;
  }
  &_quantity {
    @extend %subTitle;
    margin-bottom: 1rem;
  }
  &_amount {
    // @extend %subTitle;
    font-size: 22px;
    margin: 0.5rem 0;
    background-color: $actionize_gray;
    padding: 0.15rem 1.25rem;
    border-radius: $border_radius;
    position: absolute;
    top: -1.5rem;
  }
  &_bonus {
    color: $green;
  }
  &_bonusLabel {
    color: $green;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 1rem;
  }
  &_ctaRed {
    color: $eggHeadRed;
    font-size: 18px;
  }
}

.boxResult {
  &_container {
    @extend %flex_center;
    flex-direction: column;
  }
  &_header {
    @extend %flex_center;
  }
  &_quantity {
    @extend %flex_center;
    font-size: 14px;
    font-weight: 500;
    background-color: $actionize_gray;
    border-radius: $border_radius;
    border: 2px solid $actionize_gray_light;
    padding: 0 1rem;
    width: fit-content;
    margin-left: 0.25rem;
  }
}

.expansion {
  &_name {
    @extend %title;
    margin: 1rem 0;
  }
  &_description {
    @extend %flex_center;
    align-items: flex-start;
    flex-direction: column;
  }
  &_salesPoint {
    font-weight: 500;
    font-size: 16px;
    margin: 0.25rem 0;
  }
  &_alreadyPurchased {
    color: $green;
    @extend %subTitle;
  }
}

//DROP LABEL
.dropLabel {
  margin: 1rem 0;
  @extend %flex_center;
  background-color: black;
  border-radius: $border_radius;
  justify-content: space-around;
  width: 100%;
  padding: 1rem 1rem;
  &_item {
    font-weight: 500;
    @extend %flex_center;
    img {
      margin-left: 0.25rem;
    }
  }
}

.counter {
  background-color: $eggHeadRed;
  font-size: 24px;
  font-weight: 500;
  border-radius: $border_radius;
  padding: 0.4rem 0.8rem;
  margin-bottom: 1rem;
}
.duplicateLabel {
  margin: 1rem 0;
  font-size: 18px;
  font-weight: 500;
  background-color: $actionize_gray;
  padding: 0.3rem 0.5rem;
  border-radius: $border_radius;
  &.new {
    background-color: $ux_red;
  }
}
.rarityLabel {
  text-transform: capitalize;
}
// ANIMATIONS EXPERIMENTAL

.flip-vertical-right {
  -webkit-animation: flipAnimation 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    8 both;
  animation: flipAnimation 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955) 8 both;
}
@-webkit-keyframes flipAnimation {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}
@keyframes fflipAnimation {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}

.wobbleAnimation:active {
  -webkit-animation: wobbleAnimation 1.6s infinite both;
  animation: wobbleAnimation 1.6s infinite both;
}

@-webkit-keyframes wobbleAnimation {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes wobbleAnimation {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

.pricingWrapper {
  margin: 1.5rem 0;
  @extend %flex_around;
  flex-direction: row;
}

.pricingBox {
  border-radius: $border_radius;
  @extend %flex_start;
  border: 2px solid transparent;
  &.active {
    border: 2px solid white;
  }
  padding: 0.5rem;
  margin: 0 0.3rem;
  height: 200px;
  max-width: 150px;
  width: 100%;
  background-color: $actionize_gray;
  position: relative;
  // @extend %flex_center;
  flex-direction: column;
  &_valueTag {
    @extend %flex_center;
    position: absolute;
    background-color: $primary;
    bottom: -25px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10px;
    padding: 0.25rem 0.5rem;
    border-radius: $border_radius;
    // width: fit-content;
    width: 70%;
  }
  &_discount {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $ux_red;
    border-radius: $border_radius;
    font-size: 10px;
    padding: 0.25rem 0.5rem;
  }
  &_duration {
    font-size: 12px;
    font-weight: 500;
    background-color: black;
    border-radius: $border_radius;
    @extend %flex_center;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
  }

  &_price {
    font-size: 24px;
    font-weight: 500;
  }
  &_oldPrice {
    text-decoration: line-through;
    color: $actionize_gray_light;
    font-weight: 500;
    height: 22px;
  }
  &_dayPrice {
    height: 14px;
    font-weight: 500;
    font-size: 10px;
    color: $actionize_gray_light;
  }
  &_radioOuter {
    margin-top: 2.5rem;
    background-color: white;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    @extend %flex_center;
  }
  &_radioInner {
    background-color: $actionize_gray;
    border: 4px solid $actionize_gray;
    border-radius: 50%;
    height: 26px;
    width: 24px;
    @extend %flex_center;
    &.active {
      background-color: white;
    }
  }
}

.row {
  @extend %flex_start;
  padding: 0.33rem 0.5rem;
  border-radius: $border_radius;
  font-weight: 500;
  font-size: 18px;
  &_name {
    width: 60%;
  }
  &_free {
    text-align: center;
    width: 20%;
  }
  &_premium {
    text-align: center;
    width: 20%;
    color: $ux_red;
  }
  &.gray {
    background-color: $actionize_gray;
  }
}

.subscriptionCta {
  margin-top: 1rem;
  // margin-bottom: 2rem;
  @extend %flex_center;
  flex-direction: column;
}

.course {
  @extend %box_duo;
  @extend %flex_start;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 1rem;
  cursor: pointer;
  padding: 0;
  &_priceAndRating {
    @extend %flex_between;
    width: 100%;
    margin-top: 0.5rem;
  }
  &_name {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 0.5rem;
  }
  &_rating {
    color: $secondary;
    font-size: 18px;
    font-weight: 700;
    @extend %flex_start;
  }
  &_price {
    font-weight: 700;
    font-size: 24px;
  }
  &_detail {
    font-weight: 500;
    color: rgb(207, 207, 207);
    font-size: 20px;
  }
  &_blackScreen {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.384);
    padding: 1rem;
    border-radius: $border_radius;
  }
}

.proCtaButton {
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  // background-color: #f69b5a;
  background-color: $secondary;
  // background-color: #3ecf8e;
  background-color: $primary;
  width: 101%;
  @extend %flex_center;
  height: 42px;
  border-bottom-left-radius: $border_radius;
  border-bottom-right-radius: $border_radius;
}

.proxySubs {
  @extend %box_duo;
  @extend %flex_between;
  margin-top: 1rem;
  flex-direction: column;
  padding: 0;
  padding-top: 1rem;
  // border-bottom: none;
  position: relative;

  &_title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 1rem;
    @extend %flex_center;
    margin-top: 1rem;
    background-color: $actionize_gray;
    padding: 0.75rem 1.25rem;
    border-radius: $border_radius;
    position: absolute;
    top: -1rem;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
  }
  &_price {
    font-size: 24px;
    font-weight: 500;
    color: $secondary;
    margin-bottom: 0.5rem;
  }
  &_benefit {
    font-weight: 500;
    padding: 0.25rem 0;
    height: 3rem;
    @extend %flex_center;
  }
  &_benefitsBox {
    margin-bottom: 1.5rem;
    margin-top: 1rem;
    @extend %flex_start;
    flex-direction: column;
    align-items: flex-start;
    font-size: 18px;
  }
  &_infinity {
    position: absolute;
    font-size: 60px;
    top: -30px;
    right: 20px;
  }
  &_image {
    position: relative;
    @extend %flex_center;
  }
}

.notifiedLabel {
  color: #78e08f;
  margin-top: 1rem;
  @extend %flex_center;
}

.proCards {
  // display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
  // gap: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 1rem;
  margin-bottom: 2rem;
}
.proCardsHeader {
  @extend %header;
  font-size: 22px;
  margin-bottom: 2rem;
  color: white;
}
