@import "variables";
@import "placeholders";
@import "mixins";

.rarity {
  @extend %flex_center;
  padding: 0.5rem;
  border-radius: $border_radius;
}

.streakContainer {
  margin-bottom: 2rem;
}

.streak {
  position: relative;
  @extend %box_duo;
  @extend %flex_between;
  padding: 0.5rem;
  margin: 1rem 0;

  &.active {
    border: 2px solid white;
  }
  &.isReady {
    box-shadow: 0px 0px 4px 1.5px rgba($color: #ffc74e, $alpha: 1);
    border: 3px solid #ffae00;
    cursor: pointer;
  }
  &.isCollected {
    opacity: 50%;
  }
  &_name {
    font-weight: 500;
    font-size: 14px;
    text-transform: capitalize;
    @extend %flex_center;
    height: 100%;
    height: 50px;
  }
  &_amount {
    position: absolute;
    bottom: 0;
    right: -5px;
    @extend %flex_center;
    background-color: $actionize_gray;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-weight: 500;
    font-size: 12px;
  }
}

.gemReward {
  margin-left: 1rem;
  @extend %flex_center;
  border-radius: $border_radius;
  border: 2px solid $actionize_gray;
  height: 100%;
  padding: 0.25rem 0.5rem;
  width: fit-content;
  &_name {
    margin: 0 0.33rem;
  }
}

.image {
  @extend %flex_center;
  border: 2px solid $actionize_gray;
  position: relative;
  background-color: black;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  img {
    width: 45px;
    height: 45px;
  }
  cursor: pointer;
  @include hover-brightness(150%);
}

.streakIcon {
  @extend %flex_center;
  border: 3px solid $actionize_gray;
  position: relative;
  background-color: black;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  &_amount {
    position: absolute;
    bottom: 0;
    right: -5px;
    @extend %flex_center;
    background-color: $actionize_gray;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-weight: 500;
    font-size: 12px;
  }
  img {
    width: 35px;
  }
}
.streakTitle {
  @extend %flex_center;
  position: relative;
  &_amount {
    position: absolute;
    color: white;
    font-size: 26px;
    font-weight: 500;
    @extend %absolute_center;
  }
}

.subTitle {
  margin-top: 1rem;
  font-weight: 500;
  @extend %flex_center;
  font-size: 18px;
  &_muted {
    @extend %flex_center;
    font-size: 16px;
    font-weight: 500;
    color: $actionize_gray_light;
    margin-bottom: 2rem;
    text-align: center;
    margin-top: 0.5rem;
  }
}

// DUPLICATE EXPORT LOGIC!!! FROM CARD PAGE CSS
.fixed {
  position: fixed;
  background-color: $actionize_black;
  border-top: 3px solid $actionize_gray;
  // background: linear-gradient(rgba(0, 0, 0, 0) 0%, $actionize_black 70%);
  padding: 0 1rem;
  bottom: 0;
  width: 100%;
  height: 5rem;
  @extend %flex_center;
  left: 0px;
  position: fixed;
  z-index: 10;
}

// ALSO DUPLICATE FORM LOGIN CSS
.label {
  font-size: 22px;
  font-weight: 700;
  @extend %flex_center;
}

// DUPLICATE FROM REALM -> MAKE IT REUSABLE COMPONENT HEADER TO USE
.header {
  @extend %header;
  padding: 24px;
  padding-top: 8px;
  position: relative;
}
.back {
  position: absolute;
  cursor: pointer;
  border-radius: 50%;
  left: 0;

  &:hover {
    background-color: $optimzeColor;
  }
}

.completedMark {
  position: absolute;
  top: -5px;
  right: -5px;
}
