@import "placeholders";
@import "variables";

.lockedContent {
  @extend %flex_center;
  height: 40px;
  margin-bottom: 2rem;
}

.actionBar {
  @extend %flex_between;
  margin-top: 1rem;
  border-top: 2px solid $actionize_gray;
  padding: 0.5rem;
}

.sortOrder {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.progressIndicator {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0.2rem 0.75rem;
  background-color: gray;
  font-weight: 700;
  font-size: 12px;
  border-radius: $border-radius;
}

.tabsDataContainer {
  width: 100%;
}

.caseStudy {
  @extend %box_duo;
  margin: 1rem 0;
}

.tip {
  position: relative;
  flex-direction: column;
  @extend %box_duo;
  padding: 0;
  margin: 1rem 0;
}

.tipContent {
  padding: 0 0.5rem;
}

.bookmarkButton {
  width: 30px;
  height: 25px;
  @extend %flex_center;
  cursor: pointer;
}

// QUEST

.quest {
  position: relative;
  @extend %box_duo;
  margin: 1rem;
  flex-direction: column;
}
.questTitle {
  font-size: 20px;
  font-weight: 500;
}
.questLevel {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0.2rem 0.75rem;
  background-color: gray;
  font-weight: 700;
  font-size: 12px;
  border-radius: $border-radius;
}

.questRewardsMap {
  @extend %flex_start;
  margin-top: 0.5rem;
}

.questReward {
  @extend %box_duo;
  margin-right: 0.5rem;
}
