@import "variables";
@import "placeholders";
.section {
  @extend %flex_center;
  flex-direction: column;
}

.timer {
  border: 2px solid $actionize_gray;
  background-color: $actionize_gray;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.25rem 0.5rem;
  border-radius: $border_radius;
  width: fit-content;
}
.count {
  padding: 0.25rem;
  background-color: $actionize_gray;
  font-size: 14px;
  font-weight: bold;
  @extend %flex_center;
}

.icon {
  background-color: $actionize_gray;
  @extend %flex_center;
}

.btnPlay {
  @extend %btn_play;
  background-color: $primary;
  width: 5rem;
  height: 5rem;
  margin-bottom: 1.2rem;
}

// STOPWATCH STUFF
.reward {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  @extend %flex_center;
  background-color: $ux_green;
  font-weight: 500;
  padding: 0 0.5rem;
  img {
    height: 20px;
  }
}

// FROM ACTION COPIED STYLES
.action_open_complete {
  margin-top: 1rem;
  @extend %flex_center;
  font-weight: 500;
  font-size: 14px;
  @extend %box_duo;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.congrats {
  font-size: 20px;
  font-weight: 500;
}
