@import "variables";
@import "placeholders";

// export this to placeholder repeated in profile.css
.header {
  @extend %header;
  margin-bottom: 0.75rem;
}

.problemBox {
  @extend %box_duo;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 0;
  margin-bottom: 1rem;
  padding: 0;
  height: 10rem;
  &_name {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 1rem;
    width: 80%;
  }
  &_blackScreen {
    border-radius: $border_radius;
    @extend %flex_center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1rem;
  }
}
.exploreProblemsBtn {
  font-size: 12px;
}

.activityBox {
  border: 2px solid $actionize_gray;
  border-radius: $border_radius;
  margin: 1rem 0;
  padding: 1rem;
  cursor: pointer;
  @extend %flex_center;
  justify-content: flex-start;
  position: relative;
  font-weight: 500;
  &_text {
    margin-left: 1rem;
    flex-grow: 1;
  }
  &_notification {
    position: absolute;
    right: -5px;
    top: -10px;
    background-color: red;
    font-weight: 700;
    color: white;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    @extend %flex_center;
  }
}

.levelHeader {
  cursor: pointer;
  @extend %box_dark;
  background-color: $actionize_gray;
  margin-bottom: 1rem;
  border-radius: $border_radius;
  @extend %flex_between;
  flex-direction: row;
  &_box {
    font-weight: 500;
    font-size: 18px;
    width: 100%;
    height: 3.25rem;
    margin: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    &__xpText {
      font-size: 10px;
      font-weight: 700;
      color: rgb(175, 175, 175);
    }
  }
}
.objectivesHeadline {
  @extend %flex_between;

  &_text {
    @extend %header;
    margin-left: 0.25rem;
  }
  &_number {
    font-size: 18px;
    font-weight: 500;
  }
}
.tinyRewards {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 0.5rem;
}
.tinyReward {
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
  // background-color: #ffc74e;

  background-color: $actionize_gray;
  border-radius: 4px;
  border: 3px solid $primary;
  padding: 0.25rem;
  font-size: 12px;
  margin: 0 0.5rem;
  @extend %flex_center;
  position: relative;
  &.collected {
    border: 3px solid $actionize_green;
  }
  &.ready {
    border: 3px solid #ffae00;
  }
  &_loot {
    padding: 1rem;
    z-index: 100;
    border-radius: $border_radius;
    background-color: $actionize_black;
    position: absolute;
    top: -8rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 8px 4px, black 0px 7px 13px -3px,
      black 0px -3px 0px inset;
    &__button {
      background-color: $actionize_gray;
      border-radius: $border_radius;
      padding: 0.5rem;
      @extend %flex_center;
      margin-top: 0.5rem;
      &.ready {
        background-color: #ffc74e;
      }
    }
  }
}

.objective {
  position: relative;
  background-color: $actionize_gray;
  color: white;
  @extend %box_dark;
  cursor: pointer;
  margin: 1rem 0;
  display: grid;
  grid-template-columns: minmax(0px, 3.5rem) 1fr minmax(0px, 5rem);
  gap: 1rem;
  max-height: 6.5rem;

  &_timeType {
    position: absolute;
    left: -5px;
    top: -9px;
    font-weight: 500;
    font-size: 12px;
    text-transform: capitalize;
    border-radius: $border_radius;
    padding: 0.15rem 0.5rem;
    z-index: 10;
  }

  &_checkmark {
    @extend %flex_center;
    position: relative;
  }
  &_name {
    @extend %text--s;
  }
  &.readyToClaim {
    box-shadow: 0px 0px 8px 1.5px rgba($color: #ffc74e, $alpha: 1);
  }
  &.completed {
    opacity: 50%;
  }
}

.objective_description {
  font-size: 12px;
  font-weight: 500;
}
.objective_progress {
  font-size: 14px;
  font-weight: 500;
}

.objective_name {
  &.completed {
    text-decoration: line-through;
    text-decoration-thickness: 2.5px;
    color: darkgray;
  }
}

%btn_objective {
  font-weight: 600;
  @extend %flex_center;
  font-size: 14px;
  width: 100%;
  padding: 0.5rem 0;
  color: white;
  border-radius: $border_radius;
  cursor: pointer;
}

.btn_objective__active {
  @extend %btn_objective;
  background-color: $secondary;
}
.btn_objective__disabled {
  @extend %btn_objective;
  background-color: $gray_headspace;
}

.progressCounter {
  position: absolute;
}

.objectiveCounterGrid {
  flex-direction: column;
  height: 7rem;
  @extend %flex_center;
  background-color: $actionize_gray;
  border-radius: $border_radius;
  padding: 0 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  &_box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
}

.progressBar {
  width: 100%;
}

.objectiveTabsGrid {
  background-color: $actionize_gray;
  // @extend %box_dark;
  border-radius: $border_radius;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  // gap: 1rem;
}
.objectiveTab {
  color: white;
  width: 100%;
  @extend %flex_center;
  // @extend %text--m;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: $border_radius;
  padding: 0.5rem;
  cursor: pointer;

  &_text {
    position: relative;
  }

  &.active {
    background-color: $actionize_black;
  }
}

.objectiveTabCounter {
  position: absolute;
  right: -1.25rem;
  top: -0.5rem;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: $border_radius;
  background-color: red;
  @extend %flex_center;
  font-size: 10px;
  font-weight: 700;
  color: white;
}

.objectiveCounter {
  // @extend %flex_between;
  width: auto;
  height: auto;

  // @extend %box_dark;
  // width: 100%;
  // background-color: $actionize_gray;
}

// TUTORIAL!!
.tutorial {
  color: white;
  @extend %flex_center;
  justify-content: flex-start;
  min-width: 200px;
  min-height: 300px;
  flex-direction: column;
  &_content {
    @extend %subTitle;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
  }
}

.courseBox {
  margin-bottom: 1rem;
  &_header {
    border-radius: $border_radius;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 1rem;
    @extend %flex_between;
  }
  &_name {
    font-weight: 500;
    font-size: 22px;
  }
  &_progress {
    font-weight: 700;
    font-size: 14px;
    color: $actionize_gray_light;
  }
}

.progressCircle {
  height: 50px;
  width: 50px;
}
